.body{
  font-size: 14px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.286;
}
.first-header{
  font-size: 30px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.4;
}
.second-header{
  font-size: 24px;
  font-family: "PTSans";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.25;
}
.container {
  background: url("img/ground-light.png");
  background-repeat: repeat;
}
.main-header, .main-footer{
  background: url("img/ground-dark.png");
  background-repeat: repeat;
}
